[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
requests = "*"
openai = "*"
pydriller = "*"
python-dotenv = "*"
pyyaml = "*"
jinja2 = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.12"
