<div class="content">
    <p>
        このブログは<a href="https://github.com/MicrosoftDocs/azure-ai-docs" target="_blank">MicrosoftDocs/azure-ai-docs</a>のリポジトリの変更を追跡しています。
    </p>
    <div class="message is-info">
        <div class="message-header">
            <p>お知らせ</p>
        </div>
        <div class="message-body">
            初めての方は、<a href="/about.html">About</a>および<a href="/privacy.html">プライバシーポリシー</a>をご覧ください。
        </div>
    </div>

    <h2>Recent Posts</h2>
    $for(posts)$
        $body$
    $endfor$
</div>
